.wrapper {
    border: 3px solid aqua;
    border-radius: 5px;
    max-width: 320px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.valuesWrapper {
    border: 2px solid aqua;
    padding: 25px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.valuesBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    color: aqua;
}

.input {
    border-radius: 5px;
    border: 2px solid aqua;
    text-align: center;
    margin-left: 5px;
}


.buttons_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border: 3px solid aqua;
    border-radius: 5px;
    width: 245px;
    margin-top: 5px;
    padding: 10px;
}